/*MAIN*/

nav.nav-main {
    background: linear-gradient(135deg, rgba(103, 0, 31, 0.8), rgba(34, 101, 163, .5));
}

nav.nav-main .tile h2 {
    margin-top: 5px;
}
nav.nav-main .tile p {
    font-size: 20px;
}

nav.nav-main .tile {
    display: block;

    color: #fcfcfc;
    text-decoration: none;

    margin: 30px 0 30px 0;
    padding: 15px;

    background: rgba(0, 0, 0, 0.25);
}
nav.nav-main .tile:hover {
    color: #f2f2f2;
    background: rgba(0, 0, 0, 0.4375);

    cursor: pointer;
}

nav.nav-main .container .row:last-child .tile-lg {
    margin-top: 0;
}

nav.nav-main .tile {
    height: 300px;
}
nav.nav-main .container .row:first-child .tile-lg {
    height: 630px;
}

nav.nav-main .tile-sm {
    text-align: right;
}
nav.nav-main .container .row.visible-sm .col-sm-6:last-child .tile-sm {
    text-align: left;
}

nav.nav-main .container .row:last-child .tile-lg h2 {
    margin-top: 0;
    text-align: right;
}

/*LEASE*/

nav.nav-lease {
    margin: 20px 0;
}
nav.nav-lease .row {
    padding: 15px 0;

    background: linear-gradient(135deg, rgba(103, 0, 31, 0.16), rgba(34, 101, 163, 0.1));
}

nav.nav-lease .filter {
    background-color: rgba(255, 0, 0, 0.2);
}

nav.nav-lease .lease-head-wrapper, nav.nav-lease .lease-footer-wrapper {
    background: linear-gradient(45deg, #ff3669, #000000);
}
nav.nav-lease .lease-head, nav.nav-lease .lease-footer {
    margin: 0;
    padding: 5px 10px;

    font-size: 18px;
    color: #fcfcfc;

    border: 2px solid rgba(0, 0, 0, 0.05);
}

nav.nav-lease .lease-list {
    margin: 0;
    padding: 0;
}

nav.nav-lease .lease-list .lease-item {
    display: block;
    margin: 10px 0;
    background: linear-gradient(45deg, #ff3669, #000000);
}

nav.nav-lease .lease-list .lease-item .lease-item-content {
    display: block;
    height: 124px;
    padding: 10px;

    font-size: 18px;
    color: #fcfcfc;
    text-decoration: none;

    border: 2px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.125);
}
nav.nav-lease .lease-list .lease-item .lease-item-content:hover {
    background: 0;
    cursor: pointer;
}

nav.nav-lease .lease-list .lease-item .lease-item-pic {
    display: block;
    float: left;

    margin-right: 10px;

    width: 100px;
    height: 100px;
    background: rgba(0, 0, 255, 0.2);
}

nav.nav-lease .lease-list .lease-item .lease-item-description {
    float: left;
    height: 100px;
}
nav.nav-lease .lease-list .lease-item .lease-item-description h3 {
    margin: 0 0 4px;
}
nav.nav-lease .lease-list .lease-item .lease-item-description p {
    margin: 0;
}
nav.nav-lease .lease-list .lease-item .lease-item-description p:last-child {
    margin-top: 20px;
}