nav.nav-ppage {
    background: rgba(0,0,0,0.025);
    border-bottom: 1px solid gray;
}

nav.nav-ppage ul {
    margin: 0;
    padding: 0;
}
nav.nav-ppage ul li {
    margin: 0 6px 0 6px;
    padding: 10px;
    display: inline-block;

    text-align: center;
}
nav.nav-ppage ul li:hover {
    background: rgba(0,0,0,0.025);
    cursor: pointer;
}
nav.nav-ppage ul li a {
    color: #0f0f0f;
    font-size: 18px;
    vertical-align: middle;
    text-decoration: none;
}

main.main-ppage .alert-danger h3, main.main-ppage .alert-warning h3 {
    margin: 10px;
}

main.main-adminpage a {
    display: inline-block;
    margin-top: 10px;

    font-size: 20px;

    text-decoration: none;
    cursor: pointer
}

main.main-tourneypage table tr {
    cursor: pointer
}
main.main-tourneypage table td {
    padding: 0;
}
main.main-tourneypage table a {
    height: 105px;

    display: block;
    padding: 10px;

    color: inherit;
    text-decoration: inherit;
    text-align: center;
}
main.main-tourneypage table a.pic-href {
    padding-right: 0;
}
main.main-tourneypage table a p {
    margin: 0;
    font-size: 18px;
}