<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <script
            src="../../../libs/vue.js"
            th:src="@{/libs/vue.js}"
    ></script>
    <script
            src="../../../libs/jquery-3.2.1.js"
            th:src="@{/libs/jquery-3.2.1.js}"
    ></script>
    <link rel="stylesheet"
          href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"
    />
    <link rel="stylesheet"
          href="../../../libs/font-awesome/css/font-awesome.css"
          th:href="@{/libs/font-awesome/css/font-awesome.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/personalpage.css"
          th:href="@{/css/personalpage.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/header.css"
          th:href="@{/css/header.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/footer.css"
          th:href="@{/css/footer.css}"
    />
</head>
<body>

<header id="header-regular">
    <header-regular id="header-auth"
                    caption="ТУРНИР">
        <auth-failed sec:authorize="!isAuthenticated()"></auth-failed>
        <auth-completed sec:authorize="isAuthenticated()"><p th:text="${authUser.name + ' ' + authUser.surname}">USERNAME</p></auth-completed>
    </header-regular>
</header>
<script
        src="../../../resources/js/components/HeaderRegular.js"
        th:src="@{/components/HeaderRegular.js}"
></script>
<script
        src="../../../resources/js/components/HeaderAuth.js"
        th:src="@{/components/HeaderAuth.js}"
></script>

<nav class="nav-ppage">
    <div class="container">
        <ul class="list-inline">
            <li><a th:href="@{/pp/tourney}"><i class="fa fa-reply" aria-hidden="true"></i> Назад</a></li>
        </ul>
    </div>
</nav>

<main style="min-height: 600px">
    <div class="alert-danger" th:unless="${teamDTO != null}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3 style="margin: 20px 0 20px 0">НЕТ ДОСТУПА</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container" th:if="${teamDTO != null}">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3 th:text="${teamDTO.name}">TEAM NAME</h3>
                <h4 style="padding: 5px" class="alert-success">ПРИГЛАШЕНИЕ В ТУРНИР</h4>
                <h4 style="padding: 5px" class="alert-warning">СОБЕРИТЕ СОСТАВ</h4>
                <!--<a class="btn btn-success" th:if="${currentSize != 0}">Подтвердить</a>-->
            </div>
        </div>
        <div style="margin-top: 10px" class="row">
            <div class="col-md-4 col-md-offset-1">
                <h4 th:text="${'Текущий состав (' + currentSize + '/' + maxSize + '):'}">Текущий состав: NULL</h4>
                <p th:if="${currentPlayerDTOList == null}">Пусто</p>
                <table class="table table-hover" th:unless="${currentPlayerDTOList == null}">
                    <tr th:each="playerDTO: ${currentPlayerDTOList}" th:object="${playerDTO}">
                        <td>
                            <p style="margin: 0; font-weight: bold" th:text="*{surname + ' ' + name}">SURNAME NAME</p>
                            <p style="margin: 0; font-weight: bold" th:text="*{patronymic}">PATRONYMIC</p>
                            <p style="margin: 0" th:text="*{birthday}">BIRTHDAY</p>
                        </td>
                        <td>
                            <a th:href="${'/pp/tourney/team' + teamDTO.id + '/composition/player' + playerDTO.id + '/delete'}" style="margin-top: 12px" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2" th:if="${!full}">
                <h4>Поиск:</h4>
                <form role="form" th:action="${'/pp/tourney/team' + teamDTO.id + '/composition/player/found'}" th:object="${playerDTO}" method="post">
                    <div style="margin-bottom: 8px">
                        <label class="login-label" for="input-name"><i class="fa fa-user" aria-hidden="true"></i> Имя</label>
                        <input class="form-control" id="input-name" type="text" th:field="*{name}" placeholder="name" required="required" autofocus="autofocus"/>
                    </div>
                    <div style="margin-bottom: 8px">
                        <label class="login-label" for="input-surname"><i class="fa fa-user" aria-hidden="true"></i> Фамилия</label>
                        <input class="form-control" id="input-surname" type="text" th:field="*{surname}" placeholder="surname" required="required"/>
                    </div>
                    <div style="margin-bottom: 18px">
                        <label class="login-label" for="input-patronymic"><i class="fa fa-user" aria-hidden="true"></i> Отчество</label>
                        <input class="form-control" id="input-patronymic" type="text" th:field="*{patronymic}" placeholder="patronymic"/>
                    </div>
                    <button type="submit" class="btn btn-default">Найти</button>
                </form>
            </div>
            <div class="col-md-4"  th:if="${!full}">
                <h4>Найдено:</h4>
                <p th:if="${foundedPlayerDTOList == null}">Пусто</p>
                <table class="table table-hover" th:unless="${foundedPlayerDTOList == null}">
                    <tr th:each="playerDTO: ${foundedPlayerDTOList}" th:object="${playerDTO}">
                        <td>
                            <p style="margin: 0; font-weight: bold" th:text="*{surname + ' ' + name}">SURNAME NAME</p>
                            <p style="margin: 0; font-weight: bold" th:text="*{patronymic}">PATRONYMIC</p>
                            <p style="margin: 0" th:text="*{birthday}">BIRTHDAY</p>
                        </td>
                        <td>
                            <a th:href="${'/pp/tourney/team' + teamDTO.id + '/composition/player' + playerDTO.id + '/add'}" style="margin-top: 12px" class="btn btn-success">Добавить</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>

<footer id="footer-regular">
    <footer-regular link-service="#"
                    link-contacts="#"
                    link-feedback="#"
                    src-vldf-logo="/img/logo-vldf-sm.png"
                    link-vldf="http://www.vldf.ru/"
                    link-vldf-vk="https://vk.com/vldfru"
                    link-vldf-instagram="https://www.instagram.com/vldf2009/"
                    link-vldf-youtube="https://www.youtube.com/channel/UCgWjF5d6O3ORXolcr1HO-cQ">
    </footer-regular>
</footer>
<script
        src="../../../resources/js/components/FooterRegular.js"
        th:src="@{/components/FooterRegular.js}"
></script>

</body>
<script
        src="../../../resources/js/padding.js"
        th:src="@{/js/padding.js}"
></script>
</html>