<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <script src="/libs/vue.js"></script>
    <script src="/libs/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
</head>
<body>

<header id="header-regular">
    <header-regular id="header-auth"
                    caption="ЛИЧНЫЙ КАБИНЕТ">
        <auth-failed sec:authorize="!isAuthenticated()"></auth-failed>
        <auth-completed sec:authorize="isAuthenticated()"><p th:text="${name}">USERNAME</p></auth-completed>
    </header-regular>
</header>
<script src="/components/HeaderRegular.js"></script>
<script src="/components/HeaderAuth.js"></script>

<nav style="height: 800px"></nav>

<footer id="footer-regular">
    <footer-regular link-service="#"
                    link-contacts="#"
                    link-feedback="#"
                    src-vldf-logo="/img/logo-vldf-sm.png"
                    link-vldf="http://www.vldf.ru/"
                    link-vldf-vk="https://vk.com/vldfru"
                    link-vldf-instagram="https://www.instagram.com/vldf2009/"
                    link-vldf-youtube="https://www.youtube.com/channel/UCgWjF5d6O3ORXolcr1HO-cQ">
    </footer-regular>
</footer>
<script src="/components/FooterRegular.js"></script>

</body>
<script src="/js/padding.js"></script>
</html>