<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <script
            src="../../../libs/vue.js"
            th:src="@{/libs/vue.js}"
    ></script>
    <script
            src="../../../libs/jquery-3.2.1.js"
            th:src="@{/libs/jquery-3.2.1.js}"
    ></script>
    <script
            src="../../../libs/bootstrap/js/bootstrap.js"
            th:src="@{/libs/bootstrap/js/bootstrap.js}"
    ></script>
    <link rel="stylesheet"
          href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"
    />
    <link rel="stylesheet"
          href="../../../libs/font-awesome/css/font-awesome.css"
          th:href="@{/libs/font-awesome/css/font-awesome.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/personalpage.css"
          th:href="@{/css/personalpage.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/header.css"
          th:href="@{/css/header.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/footer.css"
          th:href="@{/css/footer.css}"
    />
</head>
<body>

<header id="header-regular">
    <header-regular id="header-auth"
                    caption="ТУРНИР">
        <auth-failed sec:authorize="!isAuthenticated()"></auth-failed>
        <auth-completed sec:authorize="isAuthenticated()"><p th:text="${authUser.name + ' ' + authUser.surname}">USERNAME</p></auth-completed>
    </header-regular>
</header>
<script
        src="../../../resources/js/components/HeaderRegular.js"
        th:src="@{/components/HeaderRegular.js}"
></script>
<script
        src="../../../resources/js/components/HeaderAuth.js"
        th:src="@{/components/HeaderAuth.js}"
></script>

<nav class="nav-ppage">
    <div class="container">
        <ul class="list-inline">
            <li><a th:href="${'/pp/admin/tourney/tourney' + tourneyDTO.id}"><i class="fa fa-reply" aria-hidden="true"></i> Назад</a></li>
        </ul>
    </div>
</nav>

<main style="min-height: 600px">
    <div class="container">
        <div style="margin-top: 20px; margin-bottom: 20px" class="row">
            <div class="col-md-12">
                <script>$('.dropdown-toggle').dropdown()</script>
                <table class="table table-bordered">
                    <tr th:each="gameItem,gIter: ${gameList}">
                        <td>
                            <p style="margin: 0; font-size: 12px" th:text="${gameItem.red.name}">RED TEAM</p>
                            <p style="margin: 0; font-size: 12px" th:text="${gameItem.blue.name}">BLUE TEAM</p>
                        </td>
                        <td>
                            <p style="margin: 0; font-size: 12px" th:if="${gameItem.red.playground != null}" th:text="${gameItem.red.playground.name}">RED PG</p>
                            <p style="margin: 0; font-size: 12px" th:unless="${gameItem.red.playground != null}">N/A</p>
                            <p style="margin: 0; font-size: 12px" th:if="${gameItem.blue.playground != null}" th:text="${gameItem.blue.playground.name}">BLUE PG</p>
                            <p style="margin: 0; font-size: 12px" th:unless="${gameItem.blue.playground != null}">N/A</p>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:if="${gameItem.time != null}" th:utext="${gameItem.time.startTime + ' - ' + gameItem.time.endTime + ' &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;'}">XX:00 - XX:00 <span class="caret"></span></button>
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:unless="${gameItem.time != null}">N/A <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li th:each="timeItem: ${timeList}" th:object="${timeItem}"><a th:href="${'/pp/admin/tourney' + gameItem.tour.tourney.id + '/game' + gameItem.id + '/set/time' + timeItem.id}" th:text="*{startTime + ' - ' + endTime}">XX:00 - XX:00</a></li>
                                </ul>
                            </div>
                        </td>
                        <td th:each="char,cIter: ${timegrid.get(gIter.index)}">
                            <div class="btn btn-danger" th:if="${char == 'N'}" th:text="${(cIter.index + 9) + ':00'}">X:00</div>
                            <div class="btn btn-warning" th:if="${char == 'C'}" th:text="${(cIter.index + 9) + ':00'}">X:00</div>
                            <div class="btn btn-success" th:if="${char == 'Y'}" th:text="${(cIter.index + 9) + ':00'}">X:00</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>

<footer id="footer-regular">
    <footer-regular link-service="#"
                    link-contacts="#"
                    link-feedback="#"
                    src-vldf-logo="/img/logo-vldf-sm.png"
                    link-vldf="http://www.vldf.ru/"
                    link-vldf-vk="https://vk.com/vldfru"
                    link-vldf-instagram="https://www.instagram.com/vldf2009/"
                    link-vldf-youtube="https://www.youtube.com/channel/UCgWjF5d6O3ORXolcr1HO-cQ">
    </footer-regular>
</footer>
<script
        src="../../../resources/js/components/FooterRegular.js"
        th:src="@{/components/FooterRegular.js}"
></script>

</body>
<script
        src="../../../resources/js/padding.js"
        th:src="@{/js/padding.js}"
></script>
</html>