<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <script
            src="../../../libs/vue.js"
            th:src="@{/libs/vue.js}"
    ></script>
    <script
            src="../../../libs/jquery-3.2.1.js"
            th:src="@{/libs/jquery-3.2.1.js}"
    ></script>
    <link rel="stylesheet"
          href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"
    />
    <link rel="stylesheet"
          href="../../../libs/font-awesome/css/font-awesome.css"
          th:href="@{/libs/font-awesome/css/font-awesome.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/personalpage.css"
          th:href="@{/css/personalpage.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/header.css"
          th:href="@{/css/header.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/footer.css"
          th:href="@{/css/footer.css}"
    />
</head>
<body>

<header id="header-regular">
    <header-regular id="header-auth"
                    caption="АДМИНИСТРИРОВАНИЕ">
        <auth-failed sec:authorize="!isAuthenticated()"></auth-failed>
        <auth-completed sec:authorize="isAuthenticated()"><p th:text="${authUser.name + ' ' + authUser.surname}">USERNAME</p></auth-completed>
    </header-regular>
</header>
<script
        src="../../../resources/js/components/HeaderRegular.js"
        th:src="@{/components/HeaderRegular.js}"
></script>
<script
        src="../../../resources/js/components/HeaderAuth.js"
        th:src="@{/components/HeaderAuth.js}"
></script>

<nav class="nav-ppage">
    <div class="container">
        <ul class="list-inline">
            <li><a th:href="@{/pp/admin}"><i class="fa fa-reply" aria-hidden="true"></i> Назад</a></li>
        </ul>
    </div>
</nav>

<main style="min-height: 600px" class="main-tourneypage pic-href">
    <div class="container">
        <div class="row">
            <div style="padding: 10px 0 10px 0" class="col-md-6 col-md-offset-3">
                <h3>Турниры</h3>
                <table class="table table-hover">
                    <tr th:each="tourneyItem: ${tourneysList}" th:object="${tourneyItem}">
                        <td style="width: 95px">
                            <a class="pic-href" th:href="*{'/pp/admin/tourney/tourney' + id}">
                                <!--TODO: pic here!-->
                                <div style="width: 85px; height: 85px; background: grey"></div>
                            </a>
                        </td>
                        <td>
                            <a th:href="*{'/pp/admin/tourney/tourney' + id}">
                                <p th:text="*{name}">NAME</p>
                            </a>
                        </td>
                        <td th:if="*{status.code == 'TOURNEY_FORMED'}" class="warning">
                            <a th:href="*{'/pp/admin/tourney/tourney' + id}">
                                <p>ИДЕТ НАБОР</p>
                            </a>
                        </td>
                        <td th:if="*{status.code == 'TOURNEY_READY'}" class="info">
                            <a th:href="*{'/pp/admin/tourney/tourney' + id}">
                                <p>НАБОР ЗАВЕРШЕН</p>
                            </a>
                        </td>
                        <td th:if="*{status.code == 'TOURNEY_???'}" class="info">
                            <a th:href="*{'/pp/admin/tourney/tourney' + id}">
                                <p></p>
                            </a>
                        </td>
                    </tr>
                </table>
                <a th:href="@{/pp/admin/tourney/create-tourney}" type="button" class="btn btn-default">Создать турнир</a>
            </div>
        </div>
    </div>
</main>

<footer id="footer-regular">
    <footer-regular link-service="#"
                    link-contacts="#"
                    link-feedback="#"
                    src-vldf-logo="/img/logo-vldf-sm.png"
                    link-vldf="http://www.vldf.ru/"
                    link-vldf-vk="https://vk.com/vldfru"
                    link-vldf-instagram="https://www.instagram.com/vldf2009/"
                    link-vldf-youtube="https://www.youtube.com/channel/UCgWjF5d6O3ORXolcr1HO-cQ">
    </footer-regular>
</footer>
<script
        src="../../../resources/js/components/FooterRegular.js"
        th:src="@{/components/FooterRegular.js}"
></script>

</body>
<script
        src="../../../resources/js/padding.js"
        th:src="@{/js/padding.js}"
></script>
</html>