<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <script
            src="../../../libs/vue.js"
            th:src="@{/libs/vue.js}"
    ></script>
    <script
            src="../../../libs/jquery-3.2.1.js"
            th:src="@{/libs/jquery-3.2.1.js}"
    ></script>
    <link rel="stylesheet"
          href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"
    />
    <link rel="stylesheet"
          href="../../../libs/font-awesome/css/font-awesome.css"
          th:href="@{/libs/font-awesome/css/font-awesome.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/personalpage.css"
          th:href="@{/css/personalpage.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/header.css"
          th:href="@{/css/header.css}"
    />
    <link rel="stylesheet"
          href="../../../resources/css/footer.css"
          th:href="@{/css/footer.css}"
    />
</head>
<body>

<header id="header-regular">
    <header-regular id="header-auth"
                    caption="АДМИНИСТРИРОВАНИЕ">
        <auth-failed sec:authorize="!isAuthenticated()"></auth-failed>
        <auth-completed sec:authorize="isAuthenticated()"><p th:text="${authUserShortName}">USERNAME</p></auth-completed>
    </header-regular>
</header>
<script
        src="../../../resources/js/components/HeaderRegular.js"
        th:src="@{/components/HeaderRegular.js}"
></script>
<script
        src="../../../resources/js/components/HeaderAuth.js"
        th:src="@{/components/HeaderAuth.js}"
></script>

<nav class="nav-ppage">
    <div class="container">
        <ul class="list-inline">
            <li><a th:href="@{/pp/admin}"><i class="fa fa-reply" aria-hidden="true"></i> Назад</a></li>
        </ul>
    </div>
</nav>

<main style="min-height: 600px">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1" th:if="${teams != null}">
                <h2>Заявки на создание команды:</h2>
                <table style="margin-top: 30px" class="table">
                    <tr th:each="team: ${teams}" th:object="${team}">
                        <td>
                            <!--TODO: pic here!-->
                            <div style="width: 100px; height: 100px"></div>
                        </td>
                        <td>
                            <h3 style="margin-top: 10px; margin-bottom: 5px" th:text="*{name}">TEAM NAME</h3>
                            <p th:text="*{captain.name + ' ' + captain.surname + ' ' + captain.patronymic}">CAPTAIN NAME</p>
                            <a style="margin-right: 10px" class="btn btn-default" th:href="${'/pp/admin/unconfirmed-teams/team' + team.id + '/confirm'}">Подтвердить</a>
                            <a style="margin-left: 10px" class="btn btn-danger" th:href="${'/pp/admin/unconfirmed-teams/team' + team.id + '/reject'}">Отклонить</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5" th:unless="${teams != null}">
                <h2>Заявок нет</h2>
            </div>
        </div>
    </div>
</main>

<footer id="footer-regular">
    <footer-regular link-service="#"
                    link-contacts="#"
                    link-feedback="#"
                    src-vldf-logo="/img/logo-vldf-sm.png"
                    link-vldf="http://www.vldf.ru/"
                    link-vldf-vk="https://vk.com/vldfru"
                    link-vldf-instagram="https://www.instagram.com/vldf2009/"
                    link-vldf-youtube="https://www.youtube.com/channel/UCgWjF5d6O3ORXolcr1HO-cQ">
    </footer-regular>
</footer>
<script
        src="../../../resources/js/components/FooterRegular.js"
        th:src="@{/components/FooterRegular.js}"
></script>

</body>
<script
        src="../../../resources/js/padding.js"
        th:src="@{/js/padding.js}"
></script>
</html>