<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация</title>
    <link rel="stylesheet"
          href="../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"
    />
    <link rel="stylesheet"
          href="../../libs/font-awesome/css/font-awesome.css"
          th:href="@{/libs/font-awesome/css/font-awesome.css}"
    />
    <link rel="stylesheet"
          href="../../resources/css/login.css"
          th:href="@{/css/login.css}"
    />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 hidden-xs buffer"></div>
        <div class="col-md-12 hidden-xs hidden-sm buffer"></div>
    </div>
    <header class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <a class="hidden-xs logo" href="/"><h1>БОЛЬШОЙ<br/>ВОРОНЕЖСКИЙ<br/>СПОРТИВНЫЙ<br/>ПОРТАЛ</h1></a>
            <a class="visible-xs logo" href="/"><h1>БОЛЬШОЙ<br/>ВОРОНЕЖСКИЙ<br/>СПОРТИВНЫЙ<br/>ПОРТАЛ</h1></a>
        </div>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <form class="login-form" role="form" th:action="@{/registration}" th:object="${userDTO}" method="post">
                <div class="row">
                    <div class="col-xs-6">
                        <h3>Персональные данные:</h3>
                        <div class="form-group">
                            <label class="login-label" for="input-name"><i class="fa fa-user" aria-hidden="true"></i> Имя</label>
                            <input class="form-control" id="input-name" type="text" th:field="*{name}" placeholder="name" required="required" autofocus="autofocus"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-surname"><i class="fa fa-user" aria-hidden="true"></i> Фамилия</label>
                            <input class="form-control" id="input-surname" type="text" th:field="*{surname}" placeholder="surname" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-patronymic"><i class="fa fa-user" aria-hidden="true"></i> Отчество</label>
                            <input class="form-control" id="input-patronymic" type="text" th:field="*{patronymic}" placeholder="patronymic"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-date"><i class="fa fa-calendar" aria-hidden="true"></i> Дата рождения</label>
                            <input class="form-control" id="input-date" type="date" th:field="*{birthday}" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-phone"><i class="fa fa-phone" aria-hidden="true"></i> Телефон</label>
                            <input class="form-control" id="input-phone" type="text" th:field="*{phone}" placeholder="phone"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-email"><i class="fa fa-envelope-o" aria-hidden="true"></i> Электронная почта</label>
                            <input class="form-control" id="input-email" type="text" th:field="*{email}" placeholder="email" required="required"/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h3>Данные авторизации:</h3>
                        <div class="form-group">
                            <label class="login-label" for="input-login"><i class="fa fa-key" aria-hidden="true"></i> Логин</label>
                            <input class="form-control" id="input-login" type="text" th:field="*{login}" placeholder="login" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-password"><i class="fa fa-lock" aria-hidden="true"></i> Пароль</label>
                            <input class="form-control" id="input-password" type="password" th:field="*{password}" placeholder="password" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="login-label" for="input-password-confirm"><i class="fa fa-lock" aria-hidden="true"></i> Повторите пароль</label>
                            <input class="form-control" id="input-password-confirm" type="password" placeholder="password" required="required"/>
                        </div>
                        <button type="submit" class="btn btn-default login-button">Зарегистрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm buffer"></div>
        <div class="col-sm-12 hidden-xs buffer"></div>
    </div>
</div>
</body>
</html>